# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# vscode
.vscode/

# Trilli
data_movers/_x/
aie/data/*.txt
aie/.Xil/
aie/Work
aie/AIECompiler.log
aie/libadf.a
aie/vitis_analyzer*
hw/vitis_analyzer*
aie/.AIE_SIM_CMD_LINE_OPTIONS
aie/ISS_RPC_SERVER_PORT
aie/pl_sample_count_*
aie/aiesimulator_output/*
!aie/aiesimulator_output/data/
aie/x86simulator_output/*
!aie/x86simulator_output/data/
aie/*.airun*
aie/*.log
data_movers/_x
data_movers/.Xil
data_movers/*.xo
data_movers/*.xo.*
data_movers/*.log
hw/_x/
hw/.Xil/
hw/emulation_data/
hw/cfg/
hw/sim/
hw/*.bin
hw/*.BIN
hw/*.bif
hw/*.log
hw/*.xclbin
hw/*.xclbin.*
hw/*.xsa
hw/*.xsa.*
hw/pmc_args.txt
hw/qemu_args.txt
hw/launch_hw_emu.sh
hw/.ipcache/
sw/.run/
sw/.Xil/
sw/*.log
sw/emconfig.json
*.exe
sw/*xclbin
sw/*.csv
sw/*.protoinst
sw/*.wcfg
sw/*.run_summary
mutual_info/_x/
mutual_info/.Xil/
mutual_info/*.xo
mutual_info/*.xo.*
mutual_info/testbench
mutual_info/include/hw/mutualInfo/mutual_info.hpp
mutual_info/*.log
*.jou
*.str
*wdb
sw/xsim.dir/
data_movers/testbench/testbench_setupaie
data_movers/testbench/testbench_setminfo
hw/*.ltx
sw/dataset/*.png
aie/*simulator_output/
build/
**/dataset_output/
**/dataset_sw_output/
**/dataset_output_sw/
.vscode/
sw/*.txt
**/dataset*output*/
*aiesim
aie/system_flat.wcfg
aie/system.wcfg
aie/tmp.vcd.vcd
*.log
hw/xclbin_overlay.cfg
common/constants.h
data_movers/setup_interpolator_body.hpp
data_movers/writer_body.hpp
data_movers/setup_mi_body.hpp
3DIRG_application/*.xclbin
3DIRG_application/trilli_app
3DIRG_wrapper_deploy
3DIRG_wrapper_deploy/
